#p3 { 
    text-align: right;
    color:darkorange;
    font-size:larger;
    border-width: 2px;
    border-style: solid;
    border-color:saddlebrown;
    background-color:burlywood;
    width:fit-content;
    
}